.dn {
    display: none;
}

.rating {
    font-size: 24px;
  }
  
  .star {
    cursor: pointer;
    color: gray;
  }
  
  .star:hover,
  .star.active {
    color: gold;
  }

  #likeBtn {
    border: solid 1px black;
    border-radius: 4px;
    width: 70px;
  }

  #likeBtn::before {
    content: "\1F44D";
    padding-right: 4px;
  }